 body {
   height: 100vh;
 }

 .carousel {
   min-height: 90%;
 }

 .carousel-control {
   width: 10%;
 }

 .carousel-inner>.item>img {
   height: 81vh;
   margin: auto;
   max-width: 85vw;
 }

 #carouselButtons {
   text-align: center;
 }